<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context
	            http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <context:annotation-config />

    <!-- Logging -->
    <bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.springframework.util.Log4jConfigurer"/>
        <property name="targetMethod" value="initLogging"/>

        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
            </list>
        </property>
    </bean>

    <!-- Properties -->
    <bean id="karyotypeProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound">
            <value>false</value>
        </property>
        <property name="location" value="classpath:karyotype.properties"/>
    </bean>


    <!-- Load in application properties reference -->
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="propertiesArray">
            <list>
                <ref bean="karyotypeProperties"/>
            </list>
        </property>
    </bean>

    <bean id="ktDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${karyotype.genome.driver}"/>
        <property name="url" value="${karyotype.genome.url}"/>
        <property name="username" value="${karyotype.genome.user}"/>
        <property name="password" value="${karyotype.genome.pwd}"/>
    </bean>

    <bean id="aneuploidyDAO" class="org.lcsb.lu.igcsa.database.sql.JDBCAneuploidyDAO" scope="singleton" lazy-init="true">
        <property name="dataSource" ref="ktDataSource"/>
    </bean>

    <bean id="generalProbabilityDAO" class="org.lcsb.lu.igcsa.database.sql.JDBCGeneralProbabilityDAO" scope="singleton" lazy-init="true">
        <property name="dataSource" ref="ktDataSource"/>
    </bean>

    <bean id="bandDAO" class="org.lcsb.lu.igcsa.database.sql.JDBCChromosomeBandDAO" scope="singleton" lazy-init="true">
        <property name="dataSource" ref="ktDataSource"/>
    </bean>

    <bean id="karyotypeDAO" class="org.lcsb.lu.igcsa.database.KaryotypeDAO" lazy-init="true" scope="singleton">
        <property name="aneuploidyDAO" ref="aneuploidyDAO"/>
        <property name="generalKarytoypeDAO" ref="generalProbabilityDAO"/>
        <property name="bandDAO" ref="bandDAO"/>
    </bean>

    <bean id="aberrationRules" class="org.lcsb.lu.igcsa.generator.AberrationRules" lazy-init="true">
        <property name="rules">
            <props>
                <prop key="ktProperties"></prop>
            </props>
        </property>
    </bean>

    <bean id="karyotypeGenerator" class="org.lcsb.lu.igcsa.generator.KaryotypeGenerator" scope="singleton" lazy-init="true">
        <constructor-arg ref="karyotypeDAO"/>
    </bean>

</beans>